#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

body {
  background-color: #39017e;
  text-align: center;
}

.choice:hover {
  background-color: #ff00c3;
  
}

.choice:hover::after {
  content: "Choose your weapon!";
  position: absolute;
  background-color: #ff00c3;
  padding: 10px;
  border: 2px solid #0011ff;
  border-radius: 5px;
  border-style: inset;
  z-index: 1;
  top: 100%;
  left: 50%;
}

#buttons {
  display: flex;
  justify-content: center;
  max-width: 75%;
  padding: 10px;
  object-fit: contain;
  background-color: #dd00ff;
  border-color:#56017e;
  border-style: groove;
  border-radius: 5px;
}

#scoreboard {
  display: flex;
  background-color: #ff00c3;
  align-content: center;
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  text-shadow: 2px 2px 4px pink;
  color: #ffffff;
  border: #56017e;
  border-style:double;
  border-radius: 5px;
  padding: 20px;
}

#results {
  align-content: center;
  font-family: 'Teko', sans-serif;
  font-size: xx-large;
  text-shadow: 2px 2px 4px pink;
  background-color:#ff00c3;
  color:#ffffff;
  border-color:#dd00ff;
  border-style: groove;
  border-radius: 5px ;
  padding: 1%;
  margin-top: 10px;
}

.headingMain {
  color:#ffffff;
  text-shadow: 2px 2px 4px pink;
  font-family: 'Press Start 2P', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #ff00c348;
  border-radius: 4px;
  border-color:#dd00ff;
  border-style: inset;
  padding: 2%;
}

.choice {
  width: 275px;
  height: 275px;
  margin: 10px;
  background-color: #56017e;
  border-style: inset;
  border-color: #dd00ff;
  border-width: 5px;
  border-radius: 10px;
  position: relative;
 
}

.choice img {
  width: 225px;
  height: 225px;
  object-fit: contain;
}

.battlefield {
  display: flex;
  justify-content: center;
  object-fit: contain;
  background-color: #ff00c3;
  border: 4px solid #56017e;
  border-radius: 10px;
  border-style: groove;
  margin: 10px;
  padding: 10px;
  width: 225px;
  height: 225px;
}

.battlefield img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.battlefield-container {
  display: flex;
  justify-content: space-around;
  background-color: #ff00c374;
  border: #56017e;
  border-radius: 10px;
  border-style:groove;
  border-width: 5px;
}


#captions {
  color:#ffffff;
  font-family: 'Press Start 2P', 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
  text-shadow: 2px 2px 4px pink;
}

