#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

body {
  background-color: #01097e;
  text-align: center;
}

.choice:hover {
  background-color: #0084ff;
  
}

.choice:hover::after {
  content: "Choose your weapon!";
  position: absolute;
  background-color: #0084ff;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  border-style: inset;
  z-index: 1;
  top: 100%;
  left: 50%;
}

#buttons {
  display: flex;
  justify-content: center;
  max-width: 75%;
  padding: 10px;
  object-fit: contain;
}

#scoreboard {
  display: flex;
  background-color: #0084ff;
  align-content: center;
  color: #ffffff;
  border: #000ece;
  border-style:double;
  border-radius: 5px;
  
}

#results {
  align-content: center;
  font-size: large;
  background-color:#0084ff;
  color:#ffffff;
  border-color:#000ece;
  border-style: inset;
  border-radius: 5px ;
  padding: 1%;
}

.headingMain {
  color:#ffffff;
  font-family: 'Press Start 2P', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #0084ff;
  border-radius: 4px;
  border-color:#000ece;
  border-style: inset;
  padding: 2%;
}

.choice {
  width: 250px;
  height: 250px;
  margin: 10px;
  border-style: inset;
  border-color: #000ece;
  border-width: 5px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.choice img {
  width: 225px;
  height: 225px;
  object-fit: contain;
}

.battlefield {
  display: flex;
  justify-content: center;
  object-fit: contain;
  background-color: #0084ff;
  border: 4px solid #000ece;
  border-radius: 10px;
  border-style: inset;
  margin: 10px;
  padding: 10px;
  width: 150px;
  height: 150px;
}

.battlefield img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.battlefield-container {
  display: flex;
  justify-content: space-around;
}

.caption {
  text-align: center;
  font-weight: bold;
}
